<app-header title="Mobile Store"></app-header>
<div class="container">
    <div class="row">
        <div class="col-sm-12 col-md-10 col-md-offset-1">
            <table class="table table-hover">
                <thead>
                    <tr>
                        <th>Product</th>
                        <th>Quantity</th>
                        <th class="text-center">Price</th>
                        <th class="text-center">Total</th>
                        <th> </th>
                    </tr>
                </thead>
                <tbody>
                    <tr *ngFor="let item of items">
                        <td class="col-sm-8 col-md-6">
                            <div class="media">
                                <a class="thumbnail pull-left" href="#"> <img class="media-object"
                                        src="{{item.productImage}}" style="width: 72px; height: 72px;"> </a>
                                <div class="media-body">
                                    <h4 class="media-heading"><a href="#">{{ item.productName }}</a></h4>
                                    <h5 class="media-heading"> by <a href="#">{{item.manufacturer}}</a></h5>

                                </div>
                            </div>
                        </td>
                        <td class="col-sm-1 col-md-1" style="text-align: center">
                            <input type="email" class="form-control" value="1">
                        </td>
                        <td class="col-sm-1 col-md-1 text-center"><strong>{{item.unitPrice}}</strong></td>
                        <td class="col-sm-1 col-md-1 text-center"><strong>{{item.unitPrice}}</strong></td>
                        <td class="col-sm-1 col-md-1">
                            <button type="button" class="btn btn-danger" (click)="removeFromCart(item)">
                                <span class="glyphicon glyphicon-remove"></span> Remove
                            </button></td>
                    </tr>
                    <tr>
                        <td></td>
                        <td>   </td>
                        <td>   </td>
                        <td>
                            <p>Total: {{ total }}</p>
                        </td>
                        <td>
                            </td>
                        <td>
                            <button type="button" class="btn btn-success" (click)='clearCart()'>
                                Checkout <span class="glyphicon glyphicon-play"></span>
                            </button></td>
                    </tr>
                </tbody>
            </table>
            <button type="button" class="btn btn-success" routerLink="" routerLinkActive="Active">
                Continue Shopping
            </button>  
        </div>
        
    </div>
</div>