<app-header title='Mobile Store'></app-header>
<div class="container">
    <div class="input-group mb-3">
        <input type="text" class="form-control" placeholder="Search..." aria-label="Search..." [(ngModel)]="productName" aria-describedby="basic-addon2">
        <div class="input-group-append">
          <button class="btn btn-success" type="button" (click)="search(productName)">Search</button>
        </div>
      </div>
    <div class="row">
        <div class="col-lg-12">
            <div class="row">
                <div *ngFor='let item of items' class="col-lg-4 col-md-6 mb-4">
                        <div class="card h-100">
                            <h4 class="card-title" style="padding: 10px;">
                                <a href="#">{{item.productName}}</a>
                            </h4>
                            <a href="#"><img class="card-img-top" src={{item.productImage}} width="300px" height="400px" alt=""></a>
                            <div class="card-body">
                             
                                <h5 class="card-text">{{item.description}}</h5>
                                <h5> {{item.unitPrice}}</h5>
                                <h5> {{item.unitInStock}} unit in stock</h5>
                            </div>
                            <div class="card-footer" style="margin: 10px;" class="action">
                                <button (click)='goDetail(item)' class="btn btn-primary">Chi tiết</button>
                                <button (click)='addToCart(item)' class="add-to-cart btn btn-success" (click)="addToCart(item)" style="margin-left: 10px;">Thêm vào giỏ</button>
                            </div>
                            
                        </div>
                </div>
            </div>
            <!-- /.row -->

        </div>
        <!-- /.col-lg-9 -->

    </div>
    <!-- /.row -->

</div>
<!-- /.container -->